# Copyright (c) 2021 Nordic Semiconductor
#
# SPDX-License-Identifier: Apache-2.0

comment "Sysbuild image configuration"

osource "$(BOARD_DIR)/Kconfig.sysbuild"

#if 0
#source "$(ZEPHYR_BASE)/Kconfig.zephyr"
#endif

config WARN_EXPERIMENTAL
	bool
	prompt "Warn on experimental usage"
	help
	  Print a warning when the Kconfig tree is parsed if any experimental
	  features are enabled.

config SB_SUPPORT_BOOTLOADER
	bool
	default y

config SB_SUPPORT_BOOTLOADER_MCUBOOT_ZEPHYR
	bool
	default y

choice SB_BOOTLOADER
	prompt "Bootloader support"
	default SB_BOOTLOADER_NONE
	depends on SB_SUPPORT_BOOTLOADER

config SB_BOOTLOADER_NONE
	bool "None"
	help
	  Do not Include a bootloader in the build

config SB_BOOTLOADER_MCUBOOT
	bool "MCUboot"
	depends on SB_SUPPORT_BOOTLOADER_MCUBOOT_ZEPHYR
	help
	  Include MCUboot (Zephyr port) as the bootloader to use

endchoice

if SB_BOOTLOADER_MCUBOOT

config SB_SIGNATURE_TYPE
	string
	default NONE if SB_BOOT_SIGNATURE_TYPE_NONE
	default RSA  if SB_BOOT_SIGNATURE_TYPE_RSA
	default ECDSA_P256 if SB_BOOT_SIGNATURE_TYPE_ECDSA_P256
	default ED25519 if SB_BOOT_SIGNATURE_TYPE_ED25519

choice
	prompt "Signature type"
	default SB_BOOT_SIGNATURE_TYPE_RSA

config SB_BOOT_SIGNATURE_TYPE_NONE
	bool "No signature; use only hash check"

config SB_BOOT_SIGNATURE_TYPE_RSA
	bool "RSA signatures"

config SB_BOOT_SIGNATURE_TYPE_ECDSA_P256
	bool "Elliptic curve digital signatures with curve P-256"

config SB_BOOT_SIGNATURE_TYPE_ED25519
	bool "Edwards curve digital signatures using ed25519"

endchoice

config SB_BOOT_SIGNATURE_KEY_FILE
	string "PEM key file"
	# TODO: Correct path creation when Zephyr modules are fully available in multi image Kconfig.
	default "$(ZEPHYR_BASE)/../bootloader/mcuboot/root-ec-p256.pem" if SB_BOOT_SIGNATURE_TYPE_ECDSA_P256
	default "$(ZEPHYR_BASE)/../bootloader/mcuboot/root-ed25519.pem" if SB_BOOT_SIGNATURE_TYPE_ED25519
	default "$(ZEPHYR_BASE)/../bootloader/mcuboot/root-rsa-2048.pem" if SB_BOOT_SIGNATURE_TYPE_RSA
	default ""
	help
	  Absolute path to key file to use with MCUBoot.

endif
