# Thingy53 NRF5340 board configuration

# Copyright (c) 2021 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config BOARD_THINGY53
	select SOC_NRF5340_CPUAPP_QKAA if "$(BOARD_IDENTIFIER)" = "/nrf5340/cpuapp"
	select SOC_NRF5340_CPUAPP_QKAA if "$(BOARD_IDENTIFIER)" = "/nrf5340/cpuapp/ns"
	select SOC_NRF5340_CPUNET_QKAA if "$(BOARD_IDENTIFIER)" = "/nrf5340/cpunet"
