# nRF52833 DK NRF52833 board configuration

# Copyright (c) 2019 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config BOARD_NRF52833DK
	bool
	default y
	select SOC_SERIES_NRF52X
	select SOC_NRF52820_QDAA if $(BOARD_IDENTIFIER) = "/nrf52820"
	select SOC_NRF52833_QIAA if $(BOARD_IDENTIFIER) = "/nrf52833"
