# Copyright (c) 2023 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

# This file is loaded through the generated Zephyr SoC Kconfig for hw model v2.
#
# The purpose of this file is to Zephyr specific hw model v2 SoC descriptions.
# The tree loaded below is integrated part of the Zephyr Kconfig tree and can
# therefore contain Kconfig references (select, depends on, if, etc) to any
# symbol in the Zephyr Kconfig tree.
# This means that if a generic SoC symbol is defined in Kconfig.soc.v2 tree,
# then this Kconfig tree can be used to extend such symbol,
# for example in Kconfig.soc.v2 tree:
# config SOC_FOO
#     bool
#     help
#       SoC v2 defined symoutside the tree itself.
#
# can then be extended with Zephyr specifics, like this in Kconfig.zephyr.v2 tree:
# config SOC_FOO
#     select ZEPHYR_BAR
#     help
#       Zephyr extension of SoC v2 defined symbol.
#       This extension ensures the SOC_FOO selects ZEPHYR_BAR when enabled.

# To include a new SoC HWMv2 containing Zephyr specific extensions, add a line
# referencing the Kconfig, like this
# source "soc/v2/<vendor|name|other>/Kconfig.zephyr"
source "soc/sub/v2/nordic_nrf/Kconfig.zephyr"
